<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">            
                <div class = "mb-4">LOGIN PAGE</div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">username</label>
                            <input type="text" class="form-control bg-secondary text-light" name="username" id="exampleInputEmail1" >
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">password</label>
                            <input type="password" class="form-control bg-secondary text-light" name="password" id="exampleInputPassword1">
                        </div>
                        <p class="text-danger fw-bold">{{ error }}</p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
    </div>  
        </div>  
            </div>


</body>
</html>